gspread==6.1.0
pydantic==2.6.4
Requests==2.31.0
responses==0.25.0
setuptools==66.1.1
git+https://github.com/trustfactors/camunda-external-task-client-python3.git/#egg=camunda-external-task-client-python3